<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <div class="navbar navbar-default navbar-static-top navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand" style="font-family: 'Courgette', cursive;">Travelers' life</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown" sec:authorize="hasRole('ADMIN')">
                        <a href="#" class="dropdown-toggle adminPanel" data-toggle="dropdown" role="button"
                           aria-expanded="false">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:href="@{/admin/posts/}">Posts</a></li>
                            <li><a th:href="@{/admin/users/}">Users</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/users/profile}" class="profile">
                            My Profile
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/posts/create}" class="createPost">
                            Create Post
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/forum}" class="forum">
                            Forum
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/users/register}" class="register">
                            Register
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/users/login}" class="login">
                            Login
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}" class="logout">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>