<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand" style="font-family: 'Courgette', cursive;">Travelers' life</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown" sec:authorize="hasRole('ADMIN')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:href="@{/admin/posts/}">Posts</a></li>
                            <li><a th:href="@{/admin/users/}">Users</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/users/profile}">
                            My Profile
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/posts/create}">
                            Create Post
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/forum}">
                            Forum
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/users/register}">
                            Register
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/users/login}">
                            Login
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>