<main xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h1 th:text="|${username}'s profile|" style="font-weight: normal"></h1>
    <div>
        <div class="centerProfileForm">
            <div>
                <img src="../../static/img/avatar.png" th:src="@{/img/avatar.png}" height="250"/><br/>
            </div>
        </div>
        <p style="margin-left: 47%; font-weight: bold; margin-top: 20px;">
            <i>My Posts:</i>
        </p>
        <div th:each="postModel: ${postModels}">
            <div class="container col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading" th:text="*{postModel.title}"></div>
                    <div class="panel-body">
                        <img th:src="|data:image/jpg;base64,@{${postModel.imagePath}}|" class="postImage"/>
                        <div style="padding-top: 10px;"><a th:href="@{/post/details/{id}/(id=${postModel.id})}"
                                                                style="text-decoration: none; color: #008081">More &raquo;</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>