<main xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h1 th:text="|${username}'s profile|"></h1>
    <form th:action="@{/profile/upload}" method="get">
        <div class="centerProfileForm">
            <div>
                <img src="../../static/img/index.jpg" th:src="@{/img/index.jpg}" height="225" width="224"
                     name="profilePicture"/><br/>
                <div style="margin-top: 5px; margin-left: -16%">Full name: <span>Vesela Petrova</span></div>
                <button class="btn btn-primary" name="uploadPhotoBtn" style="margin-left: 15%; margin-top: 3%">Edit
                    profile
                </button>
            </div>
        </div>
    </form>
</main>